body {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

label {
  display: block;
  margin: 1rem 0;
}

.header {
  padding: 1rem;
  background-color: #006655;
  color: #fff;
  text-align: center;
  text-shadow: black 2px 2px;
}

.form {
  padding: 4rem;
  margin: 2rem 0;
}

#calculateButton {
  background-color: #006655;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 10%;
}

#calculateButton:hover {
  background-color: #f18c35;
}

legend {
  font-weight: bold;
  font-size: large;
}

#results {
  padding: 2em;
  background-color: #006655;
  color: #fff;
}

#results h2 {
  text-align: center;
  text-shadow: black 2px 2px;
}

#results hr {
  color: #fff;
}

#results p {
  font-size: 22px;
  margin: 1em 3em;
}

#exampleHeader {
	font-size: 28px;
	padding: 0 2rem;
}

#exampleDetails {
	padding: 0 3rem;
}
